@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    font-family: "Poppins", sans-serif; 
    padding: 0;
    margin: 0;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 12px;
}

ul
{
    display: flex;
   
}

ul li
{
    list-style: none;
    padding: 0 15px;
}
main
{
    min-height: 100vh;

}

.container
{
 
    max-width: 80vw;
    margin:auto;
    padding: 15px;
}
ul li a
{
    text-decoration: none;
    color: white;
}

ul li a:hover
{
    color: rgb(106, 84, 147);
}

footer
{
    background-color: black;
    color: white;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}
.logo img
    {
        width: 25px;
        filter: invert(1);
    }

.logo span
{
    font-size: 20px;
}

#resultConatiner div::first-letter
{
    text-transform: uppercase;
}

.container h1
{
    padding: 12px 0px;
}

input[type="text"]
{
    min-width: 23vw;
    padding: 3px 12px;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 20px;
}
.btn
{
    background-color: black;
    color: rgb(210, 199, 199);
    padding: 9px 12px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
}

@media (max-width:600px) {
    body
    {
        background-color: lightblue;
    }
    .container
    {
        font-size: 12px;
    }
    nav
    {
        flex-direction: column;
    }
    .logo
    {
        padding: 6px 0px;
        
    }

    .logo img
    {
        width: 15px;
        filter: invert(1);
    }
}